.form-input {
    /*background-color: #507BDD;*/
    padding: 10px;
    border-radius: 10px;
}

.form-style {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) ;
    margin-top: 10px ;
    margin-bottom: 10px ;
    border-radius: 10px ;
    background-color: rgba(131, 131, 131, 0.247) !important;
}


.list-style {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.table-actions {
    margin-left: 4px;
}

.nav-font {
    font-size: 60px !important;
}

.form-buttons {
    margin-left: 6px;
}